@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);

    div.nft-card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 351px;
        height: 597px;
        border: 1px solid hsl(217, 54%, 11%);
        box-shadow: -25px 10px 5px 5px;
        border-radius: 12px;
        background-color: hsl(216, 50%, 16%);

        header figure.nft-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            border-radius: 12px;
            height: 306px;
            width: 301px;
            transition: 0.4s;
            position: relative;
        }
        header.top-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 301px;
            height: 306px;
        }
    }
}

h1.card-title {
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    transition: all 0.4s;
}

h1.card-title:hover {
    cursor: pointer;
    color:hsla(178, 100%, 50%, 1);
}

p.nft-card-description {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1px;
    color: hsl(215, 51%, 70%);
    margin-top: 20px;
}

span.nft-card-duration {
    display: flex;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    margin-left: 9px;
}

span.nft-card-price {
    display: flex;
    margin-left: 9px;
    font-size: 16px;
    cursor: default;
    color: hsla(178, 100%, 50%, 1);
}

aside.nft-card-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
    cursor: default;
    margin-bottom: 18px;
}

img.main-img {
    border-radius: 12px;
    width: 301px;
    height: 306px;
}

div.nft-card-price {
    display: flex;
    flex-direction: row;
    padding: 1px;
}

div.nft-card-duration {
    display: flex;
    flex-direction: row;
    padding: 1px;
}

img.nft-card-duration {
    display: flex;
    flex-direction: row;
}

img.hover-icon {
    object-fit: contain;
    border-radius: 12px;
    width: 56.52px;
    height: 45.5px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    opacity: 0; 
}

img.hover-icon:hover {
    cursor: pointer;
}

header figure.nft-image-container:hover img.hover-icon {
    opacity: 1;
    z-index: 1;
}

header figure.nft-image-container:hover {
    opacity: 1;
    z-index: 0;
}

img.profile-pic {
    object-fit: contain;
    height: 35px;
    width: 33px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

header figure.nft-image-container:hover div.hover-layer-style {
    background-color: hsla(178, 100%, 50%, 1);
    border-radius: 12px;
    width: 301px;
    height: 306px;
    position: absolute; 
    opacity: 0.5;
    cursor: pointer;
}

section.nft-card-details {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 28px;
    width: 306px;
    height: 212px;
}

div.nft-footer-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid hsl(215, 32%, 27%);
    padding-top: 15px;
}

p.nft-creator-name {
    margin-left: 16px;
    font-size: 16px;
    color: hsl(215, 51%, 70%)
}

span.highlighted-name {
    font-size: 16px;
    margin-left: 5px;
    color: hsl(0, 0%, 100%);
    transition: 0.4s;
}

span.highlighted-name:hover {
    color: hsla(178, 100%, 50%, 1);
    cursor: pointer;
}

footer.nft-card-footer {
    display: flex;
    flex-direction: column;
    position: relative;

    div.attribution { 
        font-size: 11px;
        width: 100%;
        text-align: center; 
        background-color: #fff;
        position: absolute;
        bottom: 0;
    }
    div.attribution a { 
        color: hsl(228, 45%, 44%); 
}
}