@import url(https://fonts.google.com/specimen/Outfit);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    font-family: Outline, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);

    div.nft-card-body {
        display: flex;
        flex-direction: column;
        width: 351px;
        height: 597px;
        padding: 25px;
        border: 1px solid hsl(217, 54%, 11%);
        box-shadow: -25px 25px 10px 10px;
        border-radius: 12px;
        background-color: hsl(216, 50%, 16%);

        header figure.nft-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            border-radius: 12px;
            height: 306px;
            width: 301px;
            position: relative;
        }
        header.top-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 301px;
            height: 306px;
        }
    }
}

h1.card-title {
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    transition: 0.4s;
}

h1.card-title:hover {
    cursor: pointer;
    color:hsl(178, 100%, 50%);
}

p.nft-card-description {
    font-size: 15px;
    color: hsl(215, 51%, 70%);
    font-weight: lighter;
    margin-top: 27px;
}

span.nft-card-duration {
    display: flex;
    font-size: 15px;
    color: hsl(215, 51%, 70%);
    margin-left: 9px;
}

span.nft-card-price {
    display: flex;
    margin-left: 9px;
    font-size: 15px;
    color: hsl(178, 100%, 50%);
}

aside.nft-card-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
    margin-bottom: 31px;
    padding: 2px;
}

img.main-img {
    border-radius: 12px;
    width: 301px;
    height: 306px;
}

div.nft-card-price {
    display: flex;
    flex-direction: row;
    padding: 1px;
}

div.nft-card-duration {
    display: flex;
    flex-direction: row;
    padding: 1px;
}

img.nft-card-duration {
    display: flex;
    flex-direction: row;
}

img.hover-icon {
    object-fit: contain;
    border-radius: 12px;
    width: 56.52px;
    height: 45.5px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    opacity: 0; 
}

header figure.nft-image-container:hover img.hover-icon {
    opacity: 1;
}

header figure.nft-image-container:hover {
    opacity: 0.5;
}

img.profile-pic {
    object-fit: contain;
    height: 35px;
    width: 33px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

header figure.nft-image-container:hover div.hover-layer-style {
    background-color: hsl(178, 100%, 50%);
    border-radius: 12px;
    width: 301px;
    height: 306px;
    position: absolute; 
    opacity: 0.7;
}

section.nft-card-details {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 28px;
}

div.nft-footer-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid hsl(215, 32%, 27%);
    padding-top: 15px;
}

p.nft-creator-name {
    margin-left: 9px;
    font-size: 13px;
    color: hsl(215, 51%, 70%)
}

span.highlighted-name {
    font-size: 13px;
    margin-left: 5px;
    color: hsl(0, 0%, 100%);
    transition: 0.4s;
}

span.highlighted-name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

footer.nft-card-footer {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.attribution { 
        font-size: 11px; 
        text-align: center; 
    }
.attribution a { 
        color: hsl(228, 45%, 44%); 
}